/* ytd-app .Unblur {

} */

.onPush {
  cursor: pointer;
}

.--blurred {
  cursor: zoom-in !important;
  position: relative;
}

.--blurred.hasUnblurText::before {
  display: block;
  position: absolute;
  top: min(20vh, 20%);
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  content: "(click to unblur)";
  z-index: 10;

  color: #FAFAFA;
  text-shadow:2px 2px 0 #111,
    -2px -2px 0 #111,
    2px -2px 0 #111,
    -2px 2px 0 #111,
    0px 2px 0 #111,
    2px 0px 0 #111,
    0px -2px 0 #111,
    -2px 0px 0 #111,
    2px 2px 5px #111;
}

.--blurred.hasUnblurText.hideTextUntilHover::before {
  opacity: 0;
}

.--blurred.hasUnblurText.hideTextUntilHover:hover::before {
  opacity: 1;
}



.--blurred > * {
  pointer-events: none;
}

.--blurred.hasUnblurText > *, .--blurred:not(.hasUnblurText) {
  filter: blur(8px);
  opacity: 0.333;
}

.--blurred.lowPowerBlur.hasUnblurText > *, .--blurred.lowPowerBlur:not(.hasUnblurText) {
  filter: blur(4px);
  opacity: 0.666;
}

.--blurred.veryLowPowerBlur.hasUnblurText > *, .--blurred.veryLowPowerBlur:not(.hasUnblurText) {
  filter: blur(3px);
  opacity: 0.666;
}


.hasUnblurText.smallText::before {
  font-size: 1.5em;
}

.hasUnblurText.verySmallText::before {
  font-size: 0.8em;
}

.hasUnblurText.smallText::before,
.hasUnblurText.verySmallText::before {
  text-shadow: 1px 1px 0 #111,
    -1px -1px 0 #111,
    1px -1px 0 #111,
    -1px 1px 0 #111,
    0px 1px 0 #111,
    1px 0px 0 #111,
    0px -1px 0 #111,
    -1px 0px 0 #111,
    1px 1px 3px #111;
}



.--blurred .--blurred::before,
#facebook .--blurred + .--blurred::before {
  display: none !important;
}








div.TrustCoin {
  position: relative;
  height: 1em;
  width: 1em;
  border-radius: 5em;
  border: 2px solid goldenrod;
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 0.5em;
  cursor: copy;
  opacity: 0.4;
}

.TrustCoin + .TrustCoin {
  display: none;
}

.TrustCoin.--trusted {
  /* background-color: goldenrod; */
  opacity: 1;
}

.TrustCoin::before {
  display: block;
  position: absolute;
  content: "";
  opacity: 0.8;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-size: 90%;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: 
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='210' width='210'><polygon points='100,10 40,198 190,78 10,78 160,198' style='fill:goldenrod;'/></svg>");
}

.TrustCoin:hover {
  opacity: 0.7;
}

.TrustCoin.--trusted::before {
  opacity: 1;
}

