
:root {
  --sm-timer-bg: #555;
}



.Timer {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: max(10px, min(14px, 1.5vh));
  background: var(--sm-timer-bg);
  color: #AAA;
  opacity: 0.9;
  border-radius: 3px 6px 3px 6px;
  /* mix-blend-mode: screen; */
  z-index: 100000000000;
}

.Timer:hover {
  opacity: 1;
}

.Timer:hover > .DetailsPanel {
  display: block;
}

.Timer.--inactive img {
  opacity: 0.5;
  transition-duration: 0.5s !important;
}

/* .Timer:hover > .Overlay {
  visibility: visible;
} */

.Timer > .DetailsPanel {
  display: none;
  position: absolute;
  bottom: 95%;
  padding-bottom: 5px;
}

.Timer > .DetailsPanel > ul {
  /* left: 0px; */
  padding: 0.25em;
  width: 150px;
  background: var(--sm-timer-bg);
  border-radius: 3px 6px 3px 6px;
  padding-left: 2em;
  margin: 0px;
}

.Timer > .DetailsPanel > ul > li.onPush {
  cursor: pointer;
}

.Timer > .DetailsPanel > ul > li.onPush:hover {
  text-decoration: underline;
}

.Timer > .DetailsPanel > ul > li {
  margin: 0.25em 0px;
}
/* 
.Timer > .Overlay {
  visibility: hidden;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background: var(--sm-timer-bg);
  border-radius: 3px 6px 3px 6px;
}

.Timer > .Overlay > * {
  flex: 1;
}

.Timer > .Overlay > .Grabby,
.Timer > .Overlay > .Details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25em;
}

.Timer > .Overlay > .Grabby {
  border-right: 1px solid white;
  cursor: grab;
}

.Timer > .Overlay > .Details {
  cursor: zoom-in;
} */


.Timer > .Counts {
  text-align: right;
  cursor: grab;
  padding: 0.5em;
}

.Timer > .Counts:active {
  cursor: grabbing;
}

.Timer > .Counts > .CurrentSite {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Timer > .Counts > .CurrentSite > img {
  height: 1em;
  transition: all ease 0.1s;
  margin-right: 0.33em;
}

.Timer > .Counts > .AllSites {
  font-size: 0.85em;
}