html {
  background: #FFFAF6;
}

html, body {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  min-width: 100%;
}

body {
  box-sizing: border-box;
  font-family: Hind, Arial, Helvetica, sans-serif;
  color: #222;

  *, *::before, *::after {
    box-sizing: inherit;
  }
}

.onPush {
  cursor: pointer;
}

.center {
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(0, 108, 128);
  &:hover {
    text-decoration: underline;
  }
}






.SoberMediaPopup {
  width: 500px;
  min-height: 325px;
  max-height: 600px;
  overflow: auto;
  display: flex;
  flex-direction: column;

  &>.ContentPane {
    flex: 1;
    overflow: auto;
  }

  .SettingsPage, .AboutPage, .TimerPage, .FlaggedSitesPage {
    padding: 1em;
    margin-bottom: 1em;

    .BooleanSetting {
      margin-bottom: 0.25em;
    }

    .DisablableSection.--disableSection {
      pointer-events: none;
      opacity: 0.25;
    }

    .TimerSetting > img {
      height: 1.5em;
      margin-right: 0.25em;
      vertical-align: sub;
    }

        
    .TrustToken {
      display: inline-block;
      position: relative;
      height: 1.5em;
      width: 1.5em;
      border-radius: 5em;
      border: 2px solid goldenrod;
      vertical-align: sub;
      margin: 0px 0.25em;

      &::before {
        display: block;
        position: absolute;
        content: "";
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-size: 90%;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: 
          url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='210' width='210'><polygon points='100,10 40,198 190,78 10,78 160,198' style='fill:goldenrod;'/></svg>");
      }
    }


  }

  .PageTitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: bold;
  }
  
  .FlaggedSitesPage .FlagSiteList,
  .TimerPage .TimedSiteList {
    display: grid;
    grid-template-columns: auto auto 1fr auto;

    .Switch {
      margin: 0px;
    }
  }

  .TimerPage .TimeSpent > .Count {
    font-size: 3em;
  }

  .GridRow {
    display: contents;
    &>* {
      margin: auto;
      padding: 0px 0.5em;
    }
  }
}



table {
  width: 100%;

  th {
    font-weight: bold;
    // text-align: center;
  }
}


