$red: #fab8b8;

div.BooleanSetting {
  display: flex;
  align-items: center;
  

  &.--enabled {
    &>.Switch {
      background-color: #b8fad9;
  
      &>.SwitchThumb {
        left: 100%;
        transform: translateX(-100%);
      }
    }

    &.redOnEnable > .Switch {
      background-color: $red;
    }
  }

  

  &>.Switch {
    flex-shrink: 0;
    position: relative;
    background-color: #FAFAFA;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
    border: 1px solid #DDD;
    padding: 0.125em;
    width: 2.5em;
    border-radius: 2em;
    margin-right: 1em;
    transition: background-color 0.2s ease-out;

    &>.SwitchThumb {
      background: white;
      box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
      position: relative;
      left: 0px;
      height: 1em;
      width: 1em;
      border-radius: 2em;
      transition: all 0.2s ease-out;
    }
  }
}



div.DeletableBooleanSetting {
  display: flex;
  align-items: center;

  &.--removed {
    display: none;
  }
}

div.DeleteSetting {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $red;
  color: white;

  margin-right: 1em;
  border-radius: 2em;
  border: 1px solid rgba(150,0,0,0.2);

  height: 1.5em;
  width: 1.5em;

  &:hover {
    background-color: rgb(192, 64, 64);
  }
}

// table {
//   .DeleteSetting, .BooleanSetting {
//     margin: auto;
//   }
// }