div.Dropdown {
  &.--showContent {
    // &>.DropdownContent {
    //   display: block;
    // }
    &>.DropdownLabel::before {
      transform: rotate(90deg);
    } 
  }

  // &>.DropdownContent {
  //   display: none;
  // }

  &>.DropdownLabel::before {
    display: inline-block;
    content: "\25B6";
    transition: transform ease-out 0.2s;
    margin-right: 0.5em;
  }
}