div.AboutPage {
  position: relative;

  &>.TotalTime, &>.FlagSite {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0.5em;
    border-radius: 0.5em;
    padding: 0.25em;
    padding-right: 0.5em;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);

    &.FlagSite {
      right: 0.5em;
      border: 1px solid #dace40;
      background: #fce536;
    }

    &.TotalTime {
      left: 0.5em;
      border: 1px solid black;
      background: #292929;
      color: white;
    }

    &>img {
      max-height: 1.25em;
      &:first-child {
        margin-right: 0.5em;
      }
      &:last-child {
        margin-left: 0.25em;
      }
    }
  }


  &>.Header {
    text-align: center;
    &>.Logo {
      max-width: 15em;
    }
  }
}