div.TabListPane {
  &>.TabList {
    display: flex;
    justify-content: flex-start;
    background-color: #444;
    
    &>.TabThumb {
      flex: 1;
      max-width: 5em;
      border-bottom: 1px solid rgba(0,0,0,0.5);
      opacity: 0.9;
      text-align: center;

      &.--selected {
        border-color: transparent;
        opacity: 1;
      }

      &>img {
        width: 2em;
      }
    }
  }

  &>.TabPaneBorder {
    height: 0.66em;
    transition: background-color ease-out 0.1s;
    // background-size: 0px 0px;
  }
}